@import "~@/styles/mixin";
@import "~@/styles/variables";

.main-wrapper {
  padding: 30px 20px;
}
.main {
  position: relative;
  box-sizing: border-box;
  padding: 20px 60px 40px;
  background-color: #fff;
  transition: all .4s ease;
  &:hover {
    box-shadow: $hoverShadow;
  }
}
.title-wrapper {
  position: relative;
}
.title {
  padding: 20px 10px 15px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-size: 20px;
}
.upload-btn {
  position: absolute;
  top: 20px;
  right: 10px;
}
.notice {
  margin: 20px 0;
  padding: 10px 0;
  font-size: 16px;
  color: $content;
  text-align: center;
}
.upload {
  text-align: center;
}
.submit-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.recordList-wrapper {
  margin-top: 30px;
}
