@import "~@/styles/mixin";
@import "~@/styles/variables";

.main-wrapper {
  padding: 30px 20px;
}
.main {
  position: relative;
  box-sizing: border-box;
  padding: 20px 60px 40px;
  background-color: #fff;
  transition: all .4s ease;
  &:hover {
    box-shadow: $hoverShadow;
  }
}
.addAccount-dropdown {
  position: absolute;
  top: 30px;
  right: 10px;
}
.addAccount-span {
  color: $blue;
  cursor: pointer;
  &:hover {
    color: $lightBlue;
  }
}
.dropdown-item {
  font-size: 14px;
  text-align: center;
  line-height: 32px;
}
.search-wrapper {
  text-align: right;
  margin-bottom: 12px;
}
.search-input {
  width: 180px;
}
.tabs-wrapper {
  position: relative;
  padding-top: 10px;
}
.remove-btn {
  color: $danger;
}
.addAccount-form {
  margin-top: 20px;
}
.form-btn-group {
  text-align: right;
}
