$title: #464c5b;
$content: #657180;
$sub: #9ea7b4;
$disabled: #c3cbd6;
$border: #d7dde4;
$divider: #e3e8ee;
$background: #f5f7f9;

$black: #1F2D3D;
$lightBlack: #324057;
$extraLightBlack: #475669;
$silver: #8492A6;
$lightSilver: #99A9BF;
$extraLightSilver: #C0CCDA;
$gray: #D3DCE6;
$lightGray: #E5E9F2;
$extraLightGray: #EFF2F7;
$darkWhite: #F9FAFC;
$white: #FFFFFF;
$lightBlue: #58B7FF;
$blue: #20A0FF;
$darkBlue: #1D8CE0;

$success: #13CE66;
$lightSuccess: #42d885;
$warning: #F7BA2A;
$lightWarning: #f9c855;
$danger: #FF4949;
$lightDanger: #ff6d6d;

$hoverShadow: 0 1px 6px rgba(0,0,0,.2);
