@import "~@/styles/mixin";
@import "~@/styles/variables";

.goto-link {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 12px;
  line-height: 20px;
  color: $black;
  &:hover {
    color: $lightBlue;
  }
}
.main-wrapper {
  padding: 30px 20px 0;
  @include clearfloat;
}
.main {
  position: relative;
  float: left;
  box-sizing: border-box;
  padding: 30px 20px;
  margin-bottom: 30px;
  background-color: #fff;
  transition: all .4s ease;
  &:hover {
    box-shadow: $hoverShadow;
  }
}
.main-step {
  width: 56%;
  margin-right: 2%;
}
.main-notice {
  width: 42%;
  .main-title {
    text-align: center;
  }
}
@media screen and (max-width: 1080px) {
  .main {
    width: 100%;
  }
}
.step-wrapper {
  position: relative;
  padding: 30px;
}
.main-title {
  padding: 0 0 10px 10px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-size: 20px;
}
.no-notice-title {
  margin-top: 20px;
  font-size: 14px;
  color: #999;
  text-align: center;
}
.notice-list {
  padding: 0 10px;
}
.notice-item {
  margin: 10px 0;
}
.notice-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 34px;
}
.notice-content {
  font-size: 12px;
  line-height: 24px;
}
