@import "~@/styles/mixin";
@import "~@/styles/variables";

.main-wrapper {
  padding: 30px 20px;
  @include clearfloat;
}
.main {
  position: relative;
  box-sizing: border-box;
  padding: 20px 60px;
  background-color: #fff;
  transition: all .4s ease;
  &:hover {
    box-shadow: $hoverShadow;
  }
}
.form + .form {
  margin-top: 20px;
  border-top: 1px solid rgba(0,0,0,.1);
}
.form-title {
  font-size: 20px;
  margin: 20px 0;
}
.inline-btn-wrapper {
  position: relative
}
.back-btn {
  position: absolute;
  top: -56px;
  right: 10px;
}
.edit-btn {
  position: absolute;
  top: -32px;
  right: 0;
}
.submit-btn {
  display: block;
  width: 100%;
}
.dialog-form {
  .tip {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 24px;
  }
}
