@import "~@/styles/mixin";
@import "~@/styles/variables";

.main-wrapper {
  padding: 30px 20px;
  @include clearfloat;
}
.main {
  position: relative;
  box-sizing: border-box;
  padding: 20px 60px;
  background-color: #fff;
  transition: all .4s ease;
  &:hover {
    box-shadow: $hoverShadow;
  }
}
.title {
  font-size: 20px;
  margin: 20px 0;
}
.message-table {
  width: 100%;
}
