@import "~@/styles/mixin";
@import "~@/styles/variables";

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 960px;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  z-index: 1000;
}
.logo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.logo {
  display: block;
  width: 325px;
  height: 70px;
  background: url(~@/assets/images/blue-logo_660x120.png) no-repeat center;
  background-size: auto 50px;
}
.user-name-wrapper {
  text-align: center;
}
.user-name {
  font-size: 22px;
  color: $blue;
  line-height: 70px;
  cursor: default;
}
.nav-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  @include clearfloat;
}
.nav-item {
  position: relative;
  display: block;
  float: left;
  width: 60px;
  height: 70px;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
  &.message:before {
    background: url(~@/assets/images/icon-message_26x26.png) no-repeat center;
  }
  &.message:hover:before {
    background: url(~@/assets/images/icon-message--hover_26x26.png) no-repeat center;
  }
  &.settings:before {
    background: url(~@/assets/images/icon-settings_26x26.png) no-repeat center;
  }
  &.settings:hover:before {
    background: url(~@/assets/images/icon-settings--hover_26x26.png) no-repeat center;
  }
  &.logout:before {
    background: url(~@/assets/images/icon-logout_26x26.png) no-repeat center;
  }
  &.logout:hover:before {
    background: url(~@/assets/images/icon-logout--hover_26x26.png) no-repeat center;
  }
  .message-badge {
    position: absolute;
    top: 10px;
    right: 6px;
  }
}
.nav-item.message:hover .message-wrapper {
  display: block;
}
.message-wrapper {
  display: none;
  position: absolute;
  top: 70px;
  right: -60px;
  width: 300px;
  box-sizing: border-box;
  padding: 20px 20px 10px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 1px 2px rgba(0,0,0,.1);
  &:after {
    display: block;
    position: absolute;
    top: -5px;
    right: 86px;
    content: "";
    width: 10px;
    height: 10px;
    box-shadow: -1px -1px 0 1px rgba(0,0,0,.05);
    background-color: #fff;
    transform: rotate(45deg);
  }
}
.message-title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.message-list {
  padding: 5px 0;
}
.message-item {
  padding: 5px 0;
  font-size: 12px;
  line-height: 24px;
  & + .message-item {
    border-top: 1px solid rgba(0,0,0,.05);
  }
}
