@import "~@/styles/mixin";
@import "~@/styles/variables";

.main-container {
  position: relative;
  height: 100%;
  background-color: $background;
  text-align: center;
  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
.particles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.main-wrapper {
  position: relative;
  display: inline-block;
  width: 320px;
  padding: 30px;
  background-color: #fff;
  vertical-align: middle;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transition: all .4s ease;
  z-index: 10;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
  }
  .logo-wrapper {
    margin-bottom: 16px;
    text-align: center;
    img {
      width: 120px;
    }
  }
  .title {
    font-size: 32px;
    color: $blue;
    cursor: default;
  }
  .sub-title {
    margin: 20px 0;
    font-size: 18px;
    cursor: default;
  }
}
.radio-group {
  margin-top: 18px;
}
.wrapper-marginTop {
  margin-top: 18px;
}
.misc-btn-wrapper {
  margin-top: 10px;
  @include clearfloat;
}
.input-group {
  padding: 1px 0;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  .input-wrapper + .input-wrapper {
    border-top: 1px solid #e8e8e8;
  }
}
.input-wrapper {
  margin: 0;
}
.submit-btn {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 18px;
  font-size: 16px;
}
.findPwd-btn {
  float: left;
}
.applyAccount-btn {
  float: right;
}
.inline-btn-wrapper {
  position: relative
}
.back-btn {
  position: absolute;
  top: -44px;
  right: 10px;
}
.dialog-form {
  text-align: left;
  .tip {
    font-size: 14px;
    line-height: 24px;
  }
  .form {
    margin-top: 10px;
  }
  .login-view--input {
    border-bottom: 1px solid #e8e8e8;
  }
}
.select-full-width {
  width: 100%;
}
